# Dependabot will run on day 18 of each month at 02:40 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "40 2 18 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ingel81"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "40 2 18 * *"
    open-pull-requests-limit: 15
    assignees:
      - "ingel81"
